<link rel="stylesheet" href="/css/tabs.css">

<main>

    <input id="tab1" type="radio" name="tabs" checked class="hidden">
    <label for="tab1">All Docs</label>
  
    <section id="content1">
      <span class="spinner"></span>
      <span class="notfound">No documents posted yet.</span>
      <div class="search-result"></div>
    </section>  
  </main>