
<footer class="footer-distributed">
    <div class="footer-left">
        <span class="footer-copyright">Universityconnect &copy; 2019</span>
    </div>
    <div class="footer-right">
        <a href="https://www.facebook.com/universityeks/" target="_blank" title="Facebook" class="footer-icon facebook-footer"></a>
        <a href="https://twitter.com/universityeks" target="_blank" title="Twitter" class="footer-icon twitter-footer"></a>
        <a href="https://www.linkedin.com/company/universityeks" target="_blank" title="LinkedIn" class="footer-icon linkedin-footer"></a></a>
    </div>
</footer>
<link rel="stylesheet" href="/css/footer.css">
