<html>
  <head>
    <% include ./partials/head %>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <title>About - College Connect</title>

    <!-- Important for Download page -->
    <style>
      .privacy-cnt {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        background: #fff;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body onload="loaded()">
    <div class="loading">
      <div class="loading-header"></div>
      <div class="loading-cnt"><% include ./partials/loading %></div>
    </div>
    <div class="header"><% include ./partials/header-li %></div>
    <div class="main-container">
      <div class="privacy-cnt">
        <h2>
          <strong> About </strong>
        </h2>
        Welcome to College Connect - the ultimate online resource for university
        students. We are a platform designed specifically for students who want
        to excel in their academic pursuits by providing them with a repository
        of study materials in PDF format. Our platform allows users to share,
        read and discuss lecture notes, books, and various other study materials
        across universities, making the search for quality educational resources
        a breeze.
        <br /><br />
        At College Connect, we believe in the freedom of information. We
        strongly believe that everyone should have easy, open access to
        information and that PDF is a powerful force for education, building
        understanding, and documenting academic events, big and small. We
        believe in the power of knowledge and its ability to change the world,
        and we are committed to making this knowledge accessible to every
        student out there.
        <br /><br />
        One thing that sets College Connect apart from other free online
        repositories is our focus on freedom of opportunity. We believe that
        everyone should have a chance to be discovered, and that one's potential
        should not be limited by their university or background. We understand
        that not everyone has access to the best resources or opportunities, and
        that is why we are here to bridge that gap. Whether you're studying at
        the most prestigious university in the world or a small community
        college, you have the potential to contribute valuable knowledge to the
        academic community, and we are here to make sure that potential is
        realized.
        <br /><br />
        Our platform is designed to be as user-friendly as possible, with
        content divided by universities, departments, semesters, and courses,
        making it easy for users to find what they need. We are committed to
        providing quality educational resources that are up-to-date and
        relevant, ensuring that our users are well-prepared for their academic
        pursuits.
        <br /><br />
        So why choose College Connect? Let's take a simple scenario - imagine
        you're a third-semester Mechanical Engineering student at Example
        University. You missed a few classes in your Thermodynamics course and
        weren't able to take good notes. Fortunately, you connected with a
        senior who had beautiful, clean notes and was willing to share some tips
        on how to easily grasp the concepts. You took a snapshot of the notes
        and shared the information with your classmates on social media groups.
        <br /><br />
        Now, fast forward to the next year. A junior is looking for 'good' notes
        for the same course. But because they are not connected to the same
        social groups as you were, they will have to go through the same process
        all over again. However, if you had posted the study materials on
        College Connect and shared the tips in the discussion forum, the junior
        would not have had to go through the same process. This is just one
        example of how College Connect can simplify the process of finding
        quality educational resources.
        <br /><br />
        Thank you for your valuable contributions, and welcome to the College
        Connect community. We are committed to your success and are here to help
        you achieve your academic goals.
        <br /><br />
        Team <b>College Connect</b>
      </div>
    </div>
  </body>
</html>
