.menubar {
    display: none;
}

.logo {
    height: 30px;
    width: 30px;
    background-image: url('/images/logo-40.png');
    background-size: 30px 30px;
    background-position-x: 0;
    background-position-y: 0;
}

.searchbox {
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: space-between;
    height: 75%;
    border-radius: 3px;
    overflow: hidden;
}

input.mainSearch {
    font-size: 14px;
    height: 100%;
    padding-left: 10px;
    border-radius: 0;
    width: 100%;
    text-decoration: none;
    border: 0;
    font-family: inherit;
    color: #fff;
    outline: none;
    transition: all .2s;
    background: rgba(255,255,255,0.2);
}

input.mainSearch:focus {
    background: #fff;
    color: #000;
}

input.mainSearch:focus ~ .searchBtn {
    background: #f4db78;
    fill: #000;
}

button.searchBtn {
    width: 10%;
    min-width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    outline: none;
    padding: 7px;
    fill: #fff;
    border: none;
    transition: all .2s;
}

.user {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 117px;
    border-radius: 3px;
}

.profile-pic {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 50%;
    background:  0% 0% / 28px rgb(255, 255, 255);
}

.home {
    width: 56px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.goldmine {
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.options {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 0px !important;
}

.searchIcon{
    display: none;
}

.user > .name {
    padding-left: 10px;
    padding-right: 10px;
}

.header > * {
    margin-right: 15px;
    color: #fff;
    user-select: none;
}

input.mainSearch::placeholder {
    color: #fff;
}

.icon-header {
    background-image: url('/images/sprites/main-32.png');
    width: 32px;
    height: 32px;
    background-size: 32px;
    margin-right: 0px;
}

.options > .icon-header {
    background-position-y: -96px;
}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.menubar > .icon-header {
    background: none;
}

.container {
    /* height: 32px; */
}

.goldmine > .icon-header {
    display: none;
}

.menubar > .icon-header {
    background: none;
}

.container {
    /* height: 32px; */
}

.goldmine > .icon-header {
    display: none;
}

.home > .icon-header {
    display: none;
}

.user:hover {
    background: rgba(0,0,0,.2);
    cursor: pointer;
}

.home:hover {
    background: rgba(0,0,0,.2);
    cursor: pointer;
}

.goldmine:hover {
    background: rgba(0,0,0,.2);
    cursor: pointer;
}

.hidden {
    display: none;
}

.spinner {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url('/images/spinner.gif');
    background-repeat: no-repeat;
    background-position-x: left;
    padding-left: 25px;
}

.noselect {
    user-select: none;
}

a {
    text-decoration: none;
    color: #005999;
}
a:hover{
    color: #3af;
}

.header > *:hover {
    color: #fff;
}

.menu-options {
    position: absolute;
    top: 42px;
    display: none;
    z-index: 100;
    margin-right: 0px !important;
    background: rgb(255, 255, 255);
    outline: none;
    border: 1px solid #ccc;
}

.option-item {
    min-height: 28px;
    min-width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    color: #777;
    font-size: 14px;
}

.userInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout{
    cursor: pointer;
}

.option-item:hover {
    background: rgb(238, 238, 238);
}
.header>.logo-icon {
    background: #fff;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px ridge;
    box-shadow: 0px 0px 0.2px 1.1px #777 inset;
}
a.optionLink {
    color: #777;
}

.option-item > a {
    color: #777;
}